body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1{
  color:#F8F8F8;
  margin-bottom: 10px;
}

.pager-container {
  margin: 0 auto;
  max-width: 900px;
}

.pager-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  background-color: #283033;
}

.screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #9EC4B3;
  height: 60px;
  width: 90%;
  text-align: center;
}

.pager-keyboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  background-color: #D9D9D9;
}

.keyboard-screen-container {
  background-color: #444444;
  height: 60px;
  width: 90%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

button {
  display: block;
  width: 230px;
  height: 75px;
  margin: 10px;
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
}

.action-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  width: 100%;
}

.reset-btn,
.send-btn{
  display: block;
  width: 90%;
  border: 3px solid black;
  cursor: pointer;
}

.reset-btn{
  background-color: #BE482A;
  color: #FFF;
}

.send-btn{
  background-color: #3D9C7C;
}